div {
    border: solid #16CDD9;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 17%;
    border-radius: 20px;
    text-align-last: center;
}

h1 {
    color: #D92B95;
}

input:nth-child(2n) {
    margin-bottom: 10px;
    margin-left: 7px;
}

input:last-child {
    margin-top: 20px;
    padding: 5px 25px;
    background-color: #0CF0C0;
    border: none;
}
