div {
    border: solid #16CDD9;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 17%;
    border-radius: 20px;
    text-align-last: center;
}

h1 {
    color: #D92B95;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

li:first-child {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px 25px;
    background-color: #0CF0C0;
    border: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
}
